
                <div class="resume-intro py-3">

                    <div class="media flex-column flex-md-row align-items-center">

                        {{ if .Site.Params.profile.avatar }}
                        <img class="resume-profile-image mb-3 mb-md-0 mr-md-5 ml-md-0 rounded mx-auto" src="{{ .Site.BaseURL }}/assets/images/{{ .Site.Params.profile.avatar }}" alt="image">
                        {{ end }}

                        <div class="media-body text-left">
                           <p class="mb-0" style="text-align: justify;">
                            I am currently a Senior Software Engineer at <a href="https://www.observeinc.com">Observe Inc.</a>, where I work on query optimization and execution. 
                            Previously, I pursued my Ph.D. in the <a href="https://www.tu.berlin/en/dima">Database Systems and Information Management</a> research group at 
                            <a href="https://tu.berlin">TU Berlin</a> under the supervision of <a href="https://www.tu.berlin/dima/ueber-uns/prof-dr-volker-markl">Prof. Volker Markl</a>. 
                            I successfully defended my dissertation, titled <em>“Query Compilation for Modern Data Processing Environments”</em>, on November 8, 2023. 
                            The evaluation committee included <a href="https://www.tu.berlin/dima/ueber-uns/prof-dr-volker-markl" target="_blank">Volker Markl</a>, 
                            <a href="https://www.informatik.tu-darmstadt.de/systems/systems_tuda/group/team_detail_18624.en.jsp" target="_blank">Carsten Binning</a>, 
                            <a href="https://stratos.seas.harvard.edu/" target="_blank">Stratos Idreos</a> und 
                            <a href="https://mboehm7.github.io/" target="_blank">Matthias Böhm</a>.

                            <br><br>
                            My research focuses on the intersection of scalable data processing systems, stream processing, and compiler design. 
                            During my Ph.D., I worked extensively on the compilation-based execution engine of <a href="https://nebulastream.io/">NebulaStream</a> and contributed to several publications at top-tier conferences such as VLDB, SIGMOD, CIDR, and EDBT.
                            <br><br>
                            Before my Ph.D., I earned an M.Sc. in Computer Science from TU Berlin in March 2019, specializing in big data analytics systems. 
                            During my master's program, I spent two quarters as an exchange student at UC Santa Cruz, where I collaborated with Faisal Nawab on data management in fog infrastructures. 
                            I received my B.Sc. in Applied Computer Science from the Hamburg University of Applied Sciences.
                        </p>
                        <br>
                        <p>
                            <a href="/assets/pdfs/philipp_grulich_cv.pdf">See my full CV for an overview of my work!</a>
                        </p>

                        </div><!--//media-body-->

                    </div>

                </div><!--//resume-intro-->
