
                <div class="resume-intro py-3">

                    <div class="media flex-column flex-md-row align-items-center">

                        {{ if .Site.Params.profile.avatar }}
                        <img class="resume-profile-image mb-3 mb-md-0 mr-md-5 ml-md-0 rounded mx-auto" src="{{ .Site.BaseURL }}/assets/images/{{ .Site.Params.profile.avatar }}" alt="image">
                        {{ end }}

                        <div class="media-body text-left">
                            <p class="mb-0" style="text-align: justify;">
                            I am currently pursuing my PhD in the <a href="https://www.tu.berlin/en/dima">Database Systems and Information Management</a> research group at
                             <a href="https://tu.berlin">TU Berlin</a>, under the esteemed guidance of <a href="https://www.tu.berlin/dima/ueber-uns/prof-dr-volker-markl">Prof. Volker Markl</a>.  
                            <br>
                            <br>
                            My research focuses on stream processing systems and scalable data processing on modern hardware.
                            At present, I'm working into the compilation-based execution engine of NebulaStream
                            and contributed to several publications in top-tier conferences, including VLDB, SIGMOD, CIDR, and EDBT.
                           <br>
                           <br>
                            Before my PhD,
                             I earned an M.Sc. in Computer Science from TU-Berlin in March 2019, with a specialization in big data analytics systems. 
                             During my master's program, I had the spent two quarters as an exchange student at UC Santa Cruz. 
                             There, I collaborated with Faisal Nawab and worked on data managment in fog infrastructures.
                             I received a B.Sc. in Applied Computer Science from the Hamburg University of Applied Sciences.
                            </p>
                            <br>
                            <p>
                                 <a href="/assets/pdfs/philipp_grulich_cv.pdf">See my full CV for an overview of my work! </a> 
                            </p>
                        </div><!--//media-body-->

                    </div>

                </div><!--//resume-intro-->
